*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
}
img{
    max-width: 100%;
    width: 100%;
}
button{
    text-align: center;
    color: #fff;
    background: var(--gray);
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: var(--smooth);
}
button:hover{
    background: var(--green-l);
    transition: var(--smooth);
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
:root{
    --green: #54B192;
    --gray: #3F3D56;
    --green-l: #A4CEC0;
    --smooth: all .3s ease-in;
}
/* Overlay  */
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.4);
    z-index: 4;
    display: none;
}
#overlay.show{
    display: initial;
}
/* .product-header{
    position:fixed;
} */
.navbar {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 9999;  */
    padding:20px;
}
.nav__logo{
    display:flex;
}
.navbar__logo img{
    width: 57px;
    height: 57px;
    object-fit: cover;
    float:left
}
.navbar__logo .nav-header{
    margin-left:20px;
    float:right;
}

.nav-header ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav-header ul li{
    
    text-align: center;
    margin:10px;
    font-size: 20px;
}
.nav-header ul li a{
    color:black;
}

@media (max-width:768px){
    .nav-header ul{
        display:none;
    }
}



/* menu  */
.navbar__links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gray);
    z-index:5;
    transition: var(--smooth);
    transform: translateX(-100%);
    opacity: 0;
}
.navbar__link{
    font-style:solid;
    font-size: 10px;
    list-style: none;
    font-weight: 700;
}

.navbar__link a{
    /* width: 40px; */
    margin-right:20px;

    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: 300;
    transition: var(--smooth);
}
.navbar__link a:hover{
    color: var(--green);
    transition: var(--smooth);
}
.navbar__btn{
    font-size: 1rem;
    background-color: var(--green);
    margin-left: 45px;

}
/* menu btn  */
.navbar__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition:  var(--smooth);
    z-index: 6;
}
.navbar__icon{
    width: 45px;
    height: 6px;
    background-color: var(--gray);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}

.navbar__icon:before,
.navbar__icon:after{
    content: '';
    position:absolute;
    width: 45px;
    height: 6px;
    background-color: var(--gray);
    border-radius: 5px;
    transition: var(--smooth);
}
.navbar__icon::before{
    transform: translateY(-12px);
}
.navbar__icon:after{
    transform: translateY(12px);
}
.navbar__links.navbar__opens{
    width: 35%;
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}
.navbar__link.navbar__open{
    margin:32px;
    font-size:13px;
}
/* button animetion  */
.open .navbar__icon{
    transform:  translateX(-50px);
    background: transparent;
}
.open .navbar__icon:before{
    transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar__icon:after{
    transform: rotate(-45deg) translate(35px, 35px);
}
@media (min-width: 62em){
  .navbar__links{
      position: initial;
      transform: translateX(0);
      opacity: 1;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  .navbar__link a{
      color: var(--gray);
  }
  .navbar__icons{
      display: none;
  }
  .navbar__btn{
      background-color: var(--gray);
  }
}

/* main content  */
.main-content{
  
    padding: 50px;
    margin-top:100px;
}
.main-content .box-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.box-content .box-product{
    width: 25%;
}

.main-content .title{
    opacity: 4;
    font-size: 20px;
    font-weight: 700;
}
.main-content .quote{
    opacity: 0.5;
}
h4{
    font-size: 15px;
    font-weight: 700;
    opacity: 4;
}
p{
    opacity: 0.8;
    font-size: 13px;
}
.box-content .box-product{
    margin:5px;
    width: 23%;
}
.box-product #price{
    color: rgb(161, 33, 33);
    font-size: 20px;
    font-weight: 700;
    opacity: 4;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:55px;
}
.footer-box .btn-add{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color:rgb(227, 96, 52);
    text-align: center;
    cursor: pointer;
}
.footer-box .btn-add:hover{
    background-color: #A4CEC0;
    color:orangered;
    transition: 1s;
}
@media (max-width: 768px){
    .main-content{
        padding: 20px;
    }
    .box-content .box-product{
        width: 47%;
    }
    h4{
        font-size: 13px;
    }
}
